<form #f="ngForm" (ngSubmit)="Save(f.value)">
  <div class="form-group">
    <label for="title">Title</label>
    <input ngModel  name="title" type="text"  id="title" class="form-control">
  </div>

  <div class="form-group">
      <label for="price">Price</label>
      <div class="input-group">
          <span class="input-group-text">$</span>
          <input ngModel  name="price" type="number"  id="price" class="form-control">
        </div>
    
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <select ngModel  name="category" id="category" class="form-control">
          <option value=""></option>
          <option  *ngFor="let c of categories$ | async" [value]="c.key">
            {{c.payload.val().name}}</option>
        </select>
      </div>

      <div class="form-group">
          <label for="imageurl">Image Url</label>
          <input ngModel  name="imageurl" type="url"  id="imageurl" class="form-control">
        </div>
        <button class="btn btn-info">Create</button>
</form>

