
<div class="container">
  <div class="row">
    <div class="col-6">
        <form  #f="ngForm" (ngSubmit)="Save(f.value)">
            <div class="form-group">
              <label for="title">Title</label>
              <input #title="ngModel" required ngModel  name="title" type="text"  id="title" class="form-control">
              <div class="alert alert-warning" *ngIf="title.touched && title.invalid">
                Title is Required.
              </div>
            </div>
          
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input required #price="ngModel" ngModel  name="price" type="number"
                      id="price" class="form-control" [min]="0">
                  </div>
                  <div class="alert alert-warning" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors.required">Price is Required.</div>
                    <div *ngIf="price.errors.min">Price Should be Positive Numbers</div>
                    </div>
              </div>
          
              <div class="form-group">
                  <label for="category">Category</label>
                  <select required #category="ngModel" ngModel  name="category" id="category" class="form-control">
                    <option value=""></option>
                    <option  *ngFor="let c of categories$ | async" [value]="c.key">
                      {{c.payload.val().name}}</option>
                  </select>
                  <div class="alert alert-warning" *ngIf="category.touched && category.invalid">
                      Category is Required.
                    </div>
                </div>
          
                <div class="form-group">
                    <label for="imageurl">Image Url</label>
                    <input url required #imageurl="ngModel" ngModel  name="imageurl" type="url"  id="imageurl" class="form-control">
                    <div class="alert alert-warning" *ngIf="imageurl.touched && imageurl.invalid">
                       <div *ngIf="imageurl.errors.required">
                          Image Url is Required.
                       </div> 
                       <div *ngIf="imageurl.errors.url">
                          Please enter Valid URL.
                       </div> 
                      </div>
                  </div>
                  <button class="btn btn-info">Create</button>
          </form>
          
          
    </div>
    <div class="col-6">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" [src]="imageurl.value" >
            <div class="card-body">
              <h5 class="card-title">{{title.value}} </h5>
              <p class="card-text">{{price.value|currency:'USD':true}}</p>
              
            </div>
          </div>
    </div>
  </div>
</div>
